name: Deploy GitHub Pages

# 触发条件：在 push 到 master 分支后
on:
  push:
    branches:
      - main
# 任务
jobs:
  build-and-deploy:
    # 服务器环境：最新版 Ubuntu
    runs-on: ubuntu-latest
    steps:
      # 拉取代码
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      # 1、生成静态文件
      - name: Build
        run: npm install && npm run build

      # 2、部署到 GitHub Pages
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          REPOSITORY_NAME: ccqiuqiu/ccqiuqiu.github.io
          BRANCH: master
          FOLDER: .vuepress/dist # npm run build 生成静态资源的路径

      # 3、同步到 gitee 的仓库
      - name: Sync to Gitee
        uses: wearerequired/git-mirror-action@master
        env:
          # 注意在 Settings->Secrets 配置 GITEE_RSA_PRIVATE_KEY
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_RSA_PRIVATE_KEY }}
        with:
          # GitHub 源仓库地址
          source-repo: git@github.com:ccqiuqiu/ccqiuqiu.github.io.git
          # Gitee 目标仓库地址
          destination-repo: git@gitee.com:xiongcc/xiongcc.gitee.io.git

      # 4、部署到 Gitee Pages
#      - name: Build Gitee Pages
#        uses: yanglbme/gitee-pages-action@main
#        with:
#          # Gitee 用户名
#          gitee-username: xiongchaochao@wintelia.com
#          # Gitee 密码
#          gitee-password: ${{ secrets.GITEE_PASSWORD }}
#          # Gitee 仓库
#          gitee-repo: xiongcc/xiongcc.gitee.io
#          # 要部署的分支
#          branch: master
